html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Helvetica Neue", Arial, Verdana, sans-serif;
    font-size: 13px;
    background: #fff;
    color: #333;
}

p {
    font-size: 16px;
}

dl, dt, dd {
  list-style: none;
  margin: 0;
  padding: 0;
}

dt, dd {
  font-weight: bold;
  margin: 0 0 8px 0;
}

dd {
  margin-bottom: 16px;
}

textarea {
  width: 100%;
  height: 180px;
}

button {
  padding: 8px 16px;
  background: #336c99;
  color: #fff;
  border: 1px solid #336c99;
  cursor: pointer;
}

.example {
  background: #EEE;
  color: #555;
  padding: 16px;
}

.header {
    background: #333;
    color: #fff;
}

.header__inner {
    padding: 12px 0;
    position: relative;
}

.b-g-p {
    margin: 0;
    padding-left: 12px;
    padding-right: 12px;
}

.header__logo {
    background: url(../img/bbc.svg) no-repeat top left;
    width: 84px;
    height: 24px;
    text-indent: -1000px;
}

.header__heading {
    font-weight: normal;
    display: block;
    position: absolute;
    right: 12px;
    top: 10px;
    margin: 0;
    font-family: "Gill Sans", sans-serif;
    text-transform: uppercase;
}

.weather-map {
    width: 100%;
    height: 180px;
}

@media(min-width: 760px) {
    .b-g-p {
        margin: 0 auto;
        width: 760px;
        padding-left: 0;
        padding-right: 0;
    }
}
